.sub__header {
    width: 100%;
    height: 55px;
    background: #fff;
}

.sub__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.sub__menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sub__menu li{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #282830;
}
.menu_logo h4{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #282830;
}
.sub__menu li:hover,
.menu_logo h4:hover{
    cursor: pointer;
    color: #008DFF;
    transition: .3s;
}
.menu_logo{
    display: flex;
    align-items: center;
}
.sub_logo{
    font-size: 30px;
    color: #008DFF;
}




@media screen and (max-width: 900px) {
    .sub__header{
        display: none;
    }
}
